<section class="header">
  {{ initializeList() }}
  <div class="header__container">
    <h1 class="header__title">Create an Entry</h1>
    <form #data="ngForm" (ngSubmit)="onSubmit(data); data.reset()" class="form">
      <div class="form-group">
        <label for="name" class="form__label">Name</label>
        <input
          required
          minlength="2"
          maxlength="10"
          type="text"
          name="name"
          class="form__input form__input-name"
          ngModel
          placeholder="max 10 chacaters"
        />
      </div>
      <div class="form-group">
        <label for="Age" class="form__label">Age</label>
        <input
          required
          min="1"
          type="number"
          name="age"
          class="form__input form__input-age"
          ngModel
          placeholder="minimum 1"
        />
      </div>
      <div class="form-group">
        <label for="gender" class="form__label">Gender</label>
        <select
          required
          name="gender"
          id="gender"
          ngModel
          class="form__input form__input-gender"
        >
          <option value="" disabled selected hidden>Options</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
      <div class="form-group">
        <button class="form__submit-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>
<section class="list">
  <div *ngIf="getList()" class="list__empty">EmptyList</div>
  <ul class="list__ul">
    <li *ngFor="let member of members; index as i">
      <div
        [ngClass]="
          member.gender === 'M'
            ? 'list__container list__container-m'
            : 'list__container list__container-f'
        "
      >
        <div class="list__name">{{ member.name }}</div>
        <div class="list__age">{{ member.age }}</div>
        <div class="list__gender">{{ member.gender }}</div>
        <button (click)="deleteItem(member.id)" class="list__delete">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</section>
